PORT=3000

# Prefer using DATABASE_URL; fallbacks also supported (see app.module.ts)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pressum
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=pressum
DB_SYNCHRONIZE=true
DB_LOGGING=false

JWT_ACCESS_SECRET=supersecret
JWT_ACCESS_EXPIRES=1h
JWT_REFRESH_SECRET=supersecretrefresh
JWT_REFRESH_EXPIRES=7d

BCRYPT_SALT_ROUNDS=10
