export DATABASE_HOST=       
export DATABASE_PORT=
export DATABASE_USER=
export DATABASE_PASSWORD=
export DATABASE_NAME=
export DB_SYNCHRONIZE=
export DB_LOGGING=
export JWT_ACCESS_SECRET=
export JWT_REFRESH_SECRET=
export BCRYPT_SALT_ROUNDS=
export OPENAI_API_KEY=
export ABACATEPAY_API_KEY=abc_dev_53KZnP4B3mYGw3N2Wb3ycByG
ABACATEPAY_PUBLIC_KEY=
ABACATE_WEBHOOK_SECRET=